{% extends 'ITapp/base.html'%}
{% block sidebar %}
{% include 'ITapp/Sidebar.html'%}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

{% if not user.is_superuser %}
<h1>Permission not allowed</h1>

{% else %}




<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" >
    <div class="card text-white bg-dark col-md-6 offset-md-3 mt-5 p-5" style="background-color: #394371!important; margin-top: 0px;">
        <h1 class="h2 mb-4">Enter Equipment details</h1>
    <div>
        <form method = "POST" action="">
                {% csrf_token %}

                <div class="mt-4">
                    <label class="col-form-label">ResourceID</label>
                    <input type="text" name="resourceID" value="" style="margin-left: 0.5rem;">
                </div>

                <div class="mt-4">
                    <label class="col-form-label">Equipment Type</label>   
                    <input type="text" name="equipType" value="" style="  width: 100%;
                    padding: 5px 10px;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;">

                </div>

                <div class="mt-4">
                    <label class="col-form-label">Added Date</label>
                    <input type="date" name="addedDate" value="" style="  width: 100%;
                    padding: 5px 10px;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;">

                </div>

                <div class="mt-4">
                    <label class="col-form-label">Department</label>
                    <input type="text" name="dept" value="" style="  width: 100%;
                    padding: 5px 10px;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;">
                </div>

                <div class="mt-4">
                    <label class="col-form-label">General Description</label>
                    <input type="text" name="gDescr" value="" style="  width: 100%;
                    padding: 5px 10px;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;">

                </div>
                <div class="mt-4">
                    <label class="col-form-label">Specific Description</label>
                    <input type="text" name="sDescr" value="" style="  width: 100%;
                    padding: 5px 10px;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;">
                </div>
        
                <input type="submit" value="Submit" style="margin-top: 2rem; background-color:#17a2b8; padding: 1rem;" />
        </form>
    </div>
    </div>
</main>
{% endif %}
{% endif %} 
{% endblock %}





