{% extends 'ITapp/base.html'%}
{% block sidebar %}
{% include 'ITapp/Sidebar.html'%}
{% endblock %}
{% block content %}
    <div class="container-fluid" style="display: flex; flex-wrap: wrap;">
        {% for dept in department %}
        <div class="{{dept}}" style="margin: 1rem; padding: 1.5rem; background-color: #17a2b8; max-width: 20rem;">
            <h1>Department {{dept}}</h1>
            <h3 style="color: #fff;"><a href="/departmentStats/{{dept}}">Detailed Review</a></h3>
        </div>
        {% endfor %}
    </div>
{% endblock %}