{% extends 'ITapp/base.html'%}
{% block sidebar %}
{% if user.is_authenticated and user.is_superuser %}
{% include 'ITapp/Sidebar.html'%}
{% endif %}
{% endblock %}
{% block content %}
{% if user.is_authenticated and user.is_superuser %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 " style="padding-top: 25px;">
   
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
    
        <label for="formFile" class="form-label">
            
            <h2 class="h4">Upload Resource File</h2>
        </label>
        <br>
        <div><input type="file" name="myfile"></div>
        
        <br>
        
        <div><button type="submit">Upload</button></div>
    </form>

    

    <table class="mt-4 table table-bordered border-dark">
        <thead class="table-dark">
            <tr>
                <th>Resource ID</th>
                <th>Equip Type</th>
                <th>Added Date</th>
                <th>Department</th>
                <th>Specific Descr</th>
                <th>Generic Descr</th>
            </tr>
        </thead>
           <tbody>
            {% for i, r in data.iterrows %} 
            <tr>
                <td><a href = "{% url 'database' r.id %}">{{r.id}}</a></td>
                <td>{{r.equipType}}</td>
                <td>{{r.addedDate}}</td>
                <td>{{r.Dept}}</td>
                <td>{{r.sDescr}}</td>
                <td>{{r.gDescr}}</td>
            </tr>
              {% endfor %}
           </tbody>
     
        
    </table>
</main>

  

    {% endif %} 
    {% endblock %}