<nav id="sidebarMenu" class="navbar-dark  bg-dark col-md-3 col-lg-2 d-md-block sidebar-sticky collapse" style="height: 100vh;">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item  ">
                <a class="nav-link " href="{% url 'resources' %}" style="color: azure; ">
                    <span data-feather="home"></span>
                    Find Resource
                </a>
            </li>
           
            <li class="nav-item ">
                <a class="nav-link " href="{% url 'create' %}" style="color: azure; ">
                    <span data-feather="message-square"></span>
                    Create Resource
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="{% url 'upload' %}" style="color: azure; ">
                    <span data-feather="plus-square"></span>
                    Upload File
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'staffs' %}" style="color: azure; ">
                    <span data-feather="message-square"></span>
                    Add Staff
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'user' request.user.email %}" style="color: azure; ">
                    <span data-feather="mail"></span>
                    Profile
                </a>
            </li>
            
        </ul>
    </div>
</nav>