{% extends 'ITapp/base.html'%}
{% block sidebar %}
{% include 'ITapp/Sidebar.html'%}
{% endblock %}

{% block content%}

<form method="POST" action="">
    {% csrf_token %}
    <div style="margin-left: 2rem; font-size: 2rem;">
        <p style="font-size: 2rem;"> Are you sure you want to delete "{{obj}}"</p>
        <a style="font-size: 2rem; background-color: #727272; padding: 1rem; color: #fff;" href = "{{request.META.HTTP_REFERER}}">Go Back</a>
        <input style="font-size: 2rem;padding: 1rem; color: #fff;" type="submit" value = "Confirm" />
    </div>
</form>

{% endblock content%}