{% extends 'ITapp/base.html'%}

{% if user.is_authenticated %}
{% endif %}

{% block content %}
    <h1>Dashboard</h1>
    <div class="container-fluid" style="display: flex; flex-direction: row;">
        <div class="chart-container" style="position: relative; height:60vh; width:40vw">
            <h1>Resource Overview</h1>
            <canvas id="Overall"></canvas>    
        </div>
        
        <div class="boxsHome">   
            <h1>Equipment Overiew</h1>
            <div class="inner">
                <div class="desktop" >
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                          <h5 class="card-title">Desktops</h5>
                          <p class="card-text">Count : {{desktops}}</p>
                          <a href="/resourceStats/desktop" class="btn btn-primary" style="color: #fff;">Detailed Review</a>
                        </div>
                      </div>
                </div>
                <div class="laptop" >
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                          <h5 class="card-title">Laptops</h5>
                          <p class="card-text">Count : {{laptops}}</p>
                          <a href="/resourceStats/laptop" class="btn btn-primary" style="color: #fff;">Detailed Review</a>
                        </div>
                      </div>
                </div>

            </div>    
            <div class="outer">
                <div class="printer" >
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                          <h5 class="card-title">Printers</h5>
                          <p class="card-text">Count : {{printers}}</p>
                          <a href="/resourceStats/printer" class="btn btn-primary" style="color: #fff;">Detailed Review</a>
                        </div>
                      </div>
                </div>
                <div class="server" >
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                          <h5 class="card-title">Servers</h5>
                          <p class="card-text">Count : {{servers}}</p>
                          <a href="/resourceStats/server" class="btn btn-primary" style="color: #fff;">Detailed Review</a>
                        </div>
                      </div>
                </div>

            </div>
            <div class="router">
                <div class="card" style="width: 25rem; ">
                    <div class="card-body">
                      <h5 class="card-title">Routers</h5>
                      <p class="card-text">Count : {{routers}}</p>
                      <a href="/resourceStats/router" class="btn btn-primary" style="color: #fff;">Detailed Review</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block scripts %}
 
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

document.addEventListener("DOMContentLoaded", function () {

const ctx = document.getElementById("Overall")

const myChart = new Chart(ctx, {
    type: "doughnut",
    data: {
        labels: ["Laptop", "Desktop", "Printer","Router", "Server"],
        datasets: [
            {
                label: "Overall Resource count",
                data: [{{laptops}}, {{desktops}}, {{printers}}, {{routers}}, {{servers}}],
                backgroundColor: [
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(255, 159, 64, 0.2)",
                    "rgba(75, 192, 192, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(255, 159, 64, 0.2)",
                ],
                borderColor: [
                    "rgba(255, 99, 132, 1)",
                    "rgba(54, 162, 235, 1)",
                    "rgba(255, 159, 64, 1)",
                    "rgba(75, 192, 192, 1)",
                    "rgba(153, 102, 255, 1)",
                    "rgba(255, 159, 64, 1)",
                ],
                borderWidth: 5,
                hoverBorderRadius: 10,
                hoverOffset: 25
            }
        ],
    },
    options: {
        scales: {
            // y: {
            //     beginAtZero: true,
            // },
            // xAxes: [{
            //     barThickness: 6, 
            //     maxBarThickness: 8 
            // }]
        },
    },
});
});

</script>
{% endblock %}