

{% load static %}
{% block content %}
<head>        
        <title>Login</title>
        <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon" />   
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    </head>    
    <body>

        <div style="
  background-color: #212529;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0px;
    padding-right: 0px;
  ">
  <div style="
      display: flex;
      justify-content: space-between;
      padding-left: 5vw;
      padding-right: 5vw;
      align-items: center;
      font-family: sans-serif;
    ">
    <div>
      <a href="/"><img
          src="{% static 'images\rvlogo.jpeg' %}"
          alt="Home" style="width: 120px" /></a>
    </div>

    <div style="text-align: center">
      <h3 class="rtecenter" style="
          margin-block-start: 0;
          margin-block-end: 15px;
          font-weight: normal;
        ">
        <span style="color: #C0C0C0;font-size: 1.5rem; font-family: 'Lora', serif;">Rashtreeya Sikshana Samithi Trust</span>
      </h3>
      <h1 class="rtecenter" style="text-decoration: none; margin-block-end: 0">
        <span style="font-size: 3.2rem;font-weight: 90;font-family: 'Lora', serif;"><a style = "color: cornflowerblue;" href="https://www.rvce.edu.in/" target="_blank" style="text-decoration: none">RV College of Engineering
          </a></span>
      </h1>
      <h6 class="rtecenter" style="
          margin-block-start: 7px;
          margin-block-end: 3px;
          font-weight: normal;
        ">
        <span style="color: #d3d3d3;font-weight: 90; font-family: 'Lora', serif;">Autonomous Institution affiliated to Visvesvaraya Technological
          University, Belagavi</span>
      </h6>
      <h6 class="rtecenter" style="
          margin-block-start: 3px;
          margin-block-end: 0;
          font-weight: normal;
        ">
        <span style="color: #d3d3d3;font-weight: 90;font-family: 'Lora', serif;">Approved By AICTE, New Delhi, Accredited By NBA, New Delhi</span>
      </h6>
    </div>

    <div style="display: flex; justify-content: space-between">
      <h1 style="
          font-weight: normal;
          display: flex;
          align-items: center;
          font-size: 25px;
          float: left;
          padding-right: 2vw;
        ">
        <span style="color: #C0C0C0;font-weight: 90; font-family: 'Lora', serif;">Since 1963</span>
      </h1>
    </div>
  </div>
</div>
<div class="login-form">
  <form method="POST" action="">
    {% csrf_token %}

      <h1>Login</h1>
      <div class="contents">
        <div class="input-field" >
          <input type="text" name="username" placeholder="Username"/>
        </div>
        <div class="input-field">
          <input type="password" name="password" placeholder="Password" />
        </div>
        <div class="mt-4" style="font-size: 1.5rem; text-align: center;">
          {% if form.errors %}
          <div class="error-message">
            Your username or password did not match. Please try again.
          </div>
          {% endif %}
        </div>
      <div class="action">
        <input type="submit" value="Login" style="padding: 10px; color: #fff; background-color: #ff7236; margin-left: 20rem; margin-top: 5rem;
        margin-bottom: 3rem;"/>
      </div>
    </div>
  </form>
</div>
</body>
</html>
{% endblock %}

